<?xml version="1.0" ?>
<model>
    <name>room_Yellow_60*60_noshadow_notexture_kreuz</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Shengyao Jiang</name>
        <email>shengyao.jiang@rwth-aachen.de</email>
    </author>
    <description></description>
</model>
